*{
  font-family: sans-serif;
}
body{
  margin: 0;
}
main{
  background-color: #f2d2ef;
  max-width: 450px;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 25px !important;
  border-bottom: 1px solid #7E57C2;
  padding: 15px;
  margin-bottom: 20px !important;
  color: #7E57C2;
    margin-top: 0;

}
p{
  font-size: 14px;
}
.eachBreed{
  display: flex;
  margin: 33px;
  background-color: #feedff;
  color: #4A148C;
}

h4{
  margin: 0;
  display: inline-block;
  font-size: 25px;
}
.contentOfEachBreed{
  margin-left: 30px;
}
.breedName{
  color: royalblue;
  margin-bottom: 0px !important;
}
.subBreedName{
  margin-top: 0px;
}
.user{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.eachImage img{
  height: 135px ;
  width: 135px;
}

img.userImage{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
button{
  background-color: #feedff;
  border: 0;
}
button:hover{
  cursor: pointer;
}
.fa-arrow-up:before {
  content: "\f062";
  font-size: 20px;
}