*{
  font-family: sans-serif;
}
h1{
  text-align: center;
  font-size: 25px !important;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  margin-bottom: 20px !important;
}
p{
  font-size: 14px;
}
.eachBreed{
  display: flex;
  margin: 33px;
}
h4{
  margin: 0;
  display: inline-block;
  font-size: 25px;
}
.contentOfEachBreed{
  margin-left: 30px;
}
.breedName{
  color: royalblue;
  margin-bottom: 0px !important;
}
.subBreedName{
  margin-top: 0px;
}
.user{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.eachImage img{
  height: 135px ;
  width: 135px;
}

img.userImage{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
button{
  background-color: white;
  border: 0;
}
button:hover{
  cursor: pointer;
}